
<div class="album py-5 bg-light">

  <div class="container">
    <div class="row">
      <div class="col-md-6" ng-repeat="item in project.items">

        <div class="card mb-4 shadow">
           <img class="card-img-top" alt="{{item.name}}" style="width: 100%; display: block;" src="{{item.img}}">
           <div class="card-body">
             <h4>{{item.name}}</h4>
             <p>{{item.description}}</p>
             <button class="btn btn-secondary btn-lg one-edge-shadow"><a href="{{item.url}}" target="_blank" style="color: inherit; text-decoration: none;">
        <mat-icon>Open</a></button>
           </div>
        </div>

      </div>
    </div>
  </div>

</div>
