@import "../node_modules/bootstrap/scss/bootstrap";

$theme-colors: (
  "dark": #009768,
  "secondary": #00683c
  );

.fa-bars {
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

h4 {
  padding-top: 0.7rem;
}

ul {
  list-style-type: none;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.jumbotron {
  background-color: #fff;
}

.custom-color-header {
  color: #212529;
}

.custom-button {
  margin-top: 30px;
}

.carousel-item {
  width: 100%;
  height: 400px;
  background-color: #495057;
}

.carousel-width {
  max-width: 720px;
}

.footer-custom {
  text-align: center;
}

.link-custom {
  font-weight: 700;
}

.text-margin {
  margin-bottom: 5px;
}

.lead {
  font-weight: normal;
}

.one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

button.navbar-toggler {
  border: 0;
}

button.navbar-toggler:focus {
   outline: 1px none;
}

.footer-custom a {
  color: #212529;
}

.footer-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  background-color: #50c995;
}

.btn-secondary {
  background-color: #009768;
}

.btn-secondary:hover {
  background-color: #00683c;
}

// back to top button
#backBtn {
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: #555;
  opacity: 0.4;
  cursor: pointer;
  padding: 15px;
}

#backBtn:hover {
  opacity: 0.7;
}

#backBtn:focus {
  outline: 0;
  outline-color: transparent;
  outline-width: 0;
  outline-style: none;
  box-shadow: 0 0 0 0 rgba(0,123,255,0);
}

/* hamburger */
.hamburger {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 35px;
  cursor: pointer;
}

.hamburger div {
  align-self: flex-end;
  height: 6px;
  width: 100%;
  background: #fff;
}

.hamburger .meat {
  width: 75%;
  transition: all 200ms ease-in-out;
}

.hamburger .bottom-bun {
  width: 50%;
  transition: all 400ms ease-in-out;
}

.hamburger:hover div {
  width: 100%;
}

.btn-primary {
  margin-left: 25px;
  margin-top: 50px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.all-btn {
  margin: 0 5px 10px 5px;
}

.btn-gray {
  background-color: #6c757d;
  color: white;
}

.btn-gray:hover {
  background-color: #545b62;
  color: white;
}

.btn-gray:focus {
  background-color: #3d3535;
}

.pagination-style {
  display: flex;
  border-radius: 0.4rem;
}

/* pagination */

.pag {
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #009768;
  border-color: #009768;
}

.page-link {
    color: #000;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
  color: #000;
}

.page-link:active, .page-link:focus // removes outline
  {
    outline: 0;
    box-shadow: 0 0 0 0;
}
